doctype html
html(dir=langDir)
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title 
            block title 
                if lang === "en"
                    | SEC
                else
                    |

        link(rel='icon' href=baseUrl + 'assets/images/logotit.png')
        //- Styles Links Here

        link(rel='stylesheet' href= baseUrl + 'assets/css/bootstrap.min.css')
        link(rel='stylesheet' href= baseUrl + 'assets/css/swiper-bundle.min.css')
        link(rel='stylesheet' href= baseUrl + 'assets/css/animate.css') 
        link(rel='stylesheet' href= baseUrl + 'assets/css/style.css')



    body
        include components/mixins/index

        //- Header Start
        block header
            include components/header 
        //- Header End

        block content 

        //- Start Footer
        block footer
            include components/footer
        //- End Footer


        //- Site Scripts
        script(src=baseUrl + 'assets/js/swiper-bundle.min.js')
        script(src=baseUrl + 'assets/js/wow.min.js')
        script(src=baseUrl + 'assets/js/jquery-3.6.0.min.js')
        script(src=baseUrl + 'assets/js/bootstrap.bundle.min.js')
        script(src=baseUrl + 'assets/js/plugin.js') 
        
        block scripts